@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root {
    --main-bg-color: #2455f4; 
}
*{
    padding: 0;
    margin: 0;
}
header {
    font-family: 'Lato', sans-serif;
    background-color: var(--main-bg-color);
}
nav {
    display: flex;
    align-items: center;
}
.logo img {
    width: 105px;
    padding: 0 20px;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    height: 70px;
    align-items: center;
}
nav ul li {
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.container {
    min-height: calc(100vh - 70px - 12vh);
}
footer {
     height: 12vh;
     background-color: var(--main-bg-color);
     color: white;
     font-family: 'Lato', sans-serif;
}